/* Layout */
main {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px;
}

/* Left Panel - 25% Width */
.left-panel {
  width: 25%;
  min-width: 200px;
}

/* Right Panel - 75% Width */
.right-panel {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Shared Styles */
.card {
  background-color: var(--tertiary);
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.card-header {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  color: var(--dark);
  padding: 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.card-body {
  padding: 15px;
}

#repos-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  color: var(--primary);
  background: linear-gradient(135deg, var(--secondary), var(--tertiary));
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.animation-box {
  width: 100%;
  height: 500px;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.details-box {
  padding: 15px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--tertiary);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
